*{
    padding: 0%;
    margin: 0;
    background-color: burlywood;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white;
    padding: 1.2rem;
}

footer{
    background-color: cadetblue ;
    color:white;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 4rem;
    width: 100%;
}
footer div{
    width: 33%;
    background:transparent
}